<%- include('header'); -%>

<h2> This is about page</h2>
<p>
This is To Do list application is created by Vedant Vivek Kandge. Techknowlogies used are express, ejs , node and css
</p>

<%- include('footer'); -%>
